 body {
   font-family: "HCLTech Roobert", sans-serif;
 }

 a {
   text-decoration: none;
 }

 /* ----Upper-nav------- */

 .hero-section .services-dropdown {
   position: relative;
 }

 .hero-section .dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   width: 200px;
 }

 .hero-section .dropdown-menu ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 .hero-section .dropdown-menu li {
   padding: 10px;
   font-size: 0.9rem;
   cursor: pointer;
 }

 .hero-section .dropdown-menu li:hover {
   background-color: #f1f1f1;
 }


 .headerr {
   background-color: #222;
   color: #ffcc00;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 30px;
   font-size: 12px;
   font-weight: 500;
 }

 .headerr .location {
   display: flex;
   align-items: center;
   gap: 15px;
 }

 .headerr .contact {
   display: flex;
   align-items: center;
   gap: 10px;
 }

 .headerr .icon {
   color: #ff8000;
   font-size: 25px;
 }

 /* ----Hero-Section------ */
 .hero-section {
   background-color: #f7931e;
   color: #000;
   overflow: hidden;
 }

 .hero-section .hero-text h1 {
   font-size: 40px;
   font-weight: 300;
   line-height: 1.2;
 }

 .hero-section .hero-text {
   font-family: monospace;
   font-size: 2rem;
   display: flex;
   flex-direction: column;
   gap: 5px;
 }

 .hero-section .animated-text {
   white-space: nowrap;
   overflow: hidden;
 }

 /* Blinking Cursor */
 @keyframes blink {
   50% {
     border-color: transparent;
   }
 }

 .hero-section .animated-text::after {
   display: inline-block;
   animation: blink 0.8s infinite;
 }


 .hero-section .underscore {
   color: #000;
 }

 .hero-section .hero-image {
   max-width: 100%;
 }

 .hero-section .hero-image img {
   width: 100%;
   position: relative;
   z-index: 2;
 }

 .hero-section .hero-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 30px;
 }

 .hero-section .logo {
   font-size: 40px;
   font-weight: bold;
 }

 .hero-section .logo .black {
   color: #000;
 }

 .hero-section .logo .white {
   color: #fff;
 }

 .hero-section .hero-nav nav {
   display: flex;
   gap: 30px;
 }

 .hero-section .hero-nav .res {
   display: none;
 }

 .hero-section .hero-nav nav span {
   color: #000;
   font-weight: 500;
   font-size: 20px;
   text-decoration: none;
 }

 .hero-section .btn-15 {
   background: white;
   border: none;
   z-index: 1;
 }

 .hero-section .btn-15:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
   background-color: white;
   border-radius: 30px;
   color: #000;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
     7px 7px 20px 0px rgba(0, 0, 0, .1),
     4px 4px 5px 0px rgba(0, 0, 0, .1);
   transition: all 0.3s ease;
 }

 .hero-section .btn-15:hover {
   color: black;
 }

 .hero-section .btn-15:hover:after {
   left: 0;
   width: 100%;
 }

 .hero-section .btn-15:active {
   top: 2px;
 }

 .hero-section .res-slider-btn {
   display: none;
 }

 .hero-section .cta-button {
   background-color: black;
   color: white;
   padding: 16px 26px;
   font-size: 20px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
 }

 .hero-section .arrow-icon {
   margin-left: 10px;
 }

 .hero-section .hero-text-section {
   align-items: center;
   justify-content: center;
   display: flex;
   width: 100%;
 }

 .hero-section .hero-text-section .hero-flex {
   align-items: center;
   justify-content: space-between;
   display: flex;
   width: 80%;
   gap: 20px;
 }

 .roww {
   width: 80%;
 }

 .hero-section-b {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: #f7931e;
   padding: 40px 0px 50px 0px;
 }

 .hero-section-b h1 {
   width: 70%;
   font-weight: 400;
 }

 /* ----Partner-carsoul------ */
 .partner-carousel {
   background-color: #f7931e;
   border-width: 1px;
   border-style: solid;
   -o-border-image: linear-gradient(90deg, #ff9720, #fff, #ff7b02) 1;
   border-image: linear-gradient(90deg, #ff9720, #fff, #ff7b02) 1;
   border-left: 0;
   border-right: 0;
 }

 .partner-carousel h4 {
   font-size: 20px;
 }

 /* -----work-view---- */
 .work-view {
   background-color: #f7931e;
 }

 .work-view .work-view-img {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .work-view .flex-btn {
   position: absolute;
   z-index: 1000;
   bottom: 25px;
   left: 30px;
 }

 .work-view .work-width {
   width: 46%;
   position: absolute;
   top: 10%;
   left: 27%;
 }

 .work-view .flex-btn .btn {
   background-color: #545454;
   color: white;
   border: none;
   border-radius: 50px;
   padding: 8px 16px;
   font-size: 16px;
   transition: background-color 0.3s ease;
 }

 .work-view .flex-btn .btn:hover {
   background-color: #7e7e7e;
 }
 /* ---Client-Review---- */
 .client-review {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
 }

.client-review .bg-img{
  position: absolute;
  top: 0;
  color: white;
  max-width: 100%;
  max-height: fit-content;
  opacity: .1;
 }
 .client-review .swiper-button-next,
 .swiper-button-prev {
   padding: 30px;
   color: white !important;
   background-color: #ff8c00;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   border: none;
 }

 .client-review .swiper-button-next::after,
 .client-review .swiper-button-prev::after {
   font-size: 20px;
   font-weight: bold;
 }

 .client-review .swiper-button-next:hover,
 .swiper-button-prev:hover {
   background-color: black;
   color: white;
   transform: scale(1.1);
   transition: all 0.3s ease;
 }

 .client-review .swiper-button-disabled {
   opacity: 0.5;
   cursor: not-allowed;
 }

 /* -----service-section----- */

 .service-section .box:hover {
  background-color: #f7931e !important;
  cursor: pointer;

}

 /* ----Footer----- */
 .messagee{
  transition: all ease-in .3s;
 }
 .messagee:hover{
  transform: scale(1.2);
  transition: all ease-in .3s;
  box-shadow: 0px 0px 15px #f7931e;
 }

 .footer .footer-logo {
   font-size: 40px;
   font-weight: bold;
 }

 .footer .footer-logo .black {
   color: #f7931e;
 }

 .footer .footer-logo .white {
   color: #fff;
 }

 .footer .footer-page-a:hover {
   color: #f7931e !important;
   cursor: pointer;
 }

 .footer .footer-page:hover {
   color: white !important;
   cursor: pointer;
 }

 .cta-section {
   background: linear-gradient(to right, #ff8c00, #ff8800);
   padding: 40px 0;
   text-align: left;
 }

 .cta-section .cta-text {
   color: white;
   font-size: 2.3rem;
   font-weight: 500;
 }

 .cta-section .cta-button {
   background-color: black;
   color: white;
   border: none;
   padding: 12px 24px;
   font-size: 1rem;
   border-radius: 50px;
   display: flex;
   align-items: center;
 }

 .cta-section .cta-button:hover {
   background-color: #222;
 }

 @media (max-width: 768px) {
   .cta-section .cta-text {
     font-size: 1.5rem;
     text-align: center;
   }

   .cta-section .cta-button {
     margin-top: 20px;
   }
 }

 .cta-section .btn-15 {
   background: white;
   border: none;
   z-index: 1;
 }

 .cta-section .btn-15:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
   background-color: white;
   border-radius: 30px;
   color: #000;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
     7px 7px 20px 0px rgba(0, 0, 0, .1),
     4px 4px 5px 0px rgba(0, 0, 0, .1);
   transition: all 0.3s ease;
 }

 .cta-section .btn-15:hover {
   color: black;
 }

 .cta-section .btn-15:hover:after {
   left: 0;
   width: 100%;
 }

 .cta-section .btn-15:active {
   top: 2px;
 }

 .cta-section .cta-button {
   background-color: black;
   color: white;
   padding: 16px 26px;
   font-size: 20px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   border: none;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   outline: none;
 }

 .cta-section .animation-h {
   text-transform: uppercase;
   background: linear-gradient(to right, #fae5cc, #c5b2b2, #e6dada, rgb(251, 241, 241), white);
   background-size: 200%;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: animate-gradient 3s linear infinite;
 }

 @keyframes animate-gradient {
   to {
     background-position: 200%;
   }
 }

 /* ----Contact-form------- */
 .contact-us input:focus {
   outline: none !important;
   box-shadow: none !important;
   background-color: white !important;
 }

 .contact-us select:focus {
   outline: none !important;
   box-shadow: none !important;
   background-color: white !important;
 }

 .portfolio {
   padding: 10px 25px;
 }

 /* --Footer--= */
 .footer {
   padding-top: 2rem;
   padding-bottom: 2rem;
   position: relative;
   overflow: hidden;
 }
 .footer .bg-img{
  position: absolute;
  top: 0;
  color: white;
  max-width: 100%;
  max-height: fit-content;
  opacity: .1;
 }

 /* -----OverPortfolio-work------- */
 .project-card {
   position: relative;
   overflow: hidden;
 }

 .project-image {
   width: 100%;
   transition: 0.3s ease-in-out;
 }

 .project-card:hover .project-image {
   filter: blur(1px);
   opacity: 0.5;
 }

 .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: 0.3s ease-in-out;
 }

 .project-card:hover .overlay {
   opacity: 1;
 }

 .eye-icon {
   font-size: 2rem;
 }

 .profile-menu {
   display: none;
   position: absolute;
   top: 125px;
   background: var(--light);
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   border-radius: 15px;
   width: 230px;
   z-index: 9999;
   font-family: var(--lato);
 }

 .profile-menu ul {
   list-style: none;
   padding: 10px;
   margin: 0;
 }

 .profile-menu li {
   padding: 10px;
   border-bottom: 1px solid var(--grey);
 }

 .profile-menu li:hover {
   background-color: #f7931e;
   cursor: pointer;
   border-radius: 8px;
 }
 .profile-menu li:hover a{
  color: #f1f1f1;
 }
 .profile-menu li a {
   color: #ff7b02;
   font-size: 16px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 20px;
 }

 body.dark .profile-menu li:hover a {
   color: var(--light);
   color: white;
 }

 body.dark .profile-menu li a {
   color: var(--dark);
 }

 /* .profile-menu li:hover a {
   color: var(--dark);
 } */

 /* Active State for Menus */
 .notification-menu.show,
 .profile-menu.show {
   display: block;
 }

 .exprince-section {
   background-color: #222;
   color: white;
 }

 .fade-in {
   opacity: 0;
   transform: translateY(10px);
   transition: opacity 0.6s ease-out, transform 0.6s ease-out;
 }

 .fade-in.show {
   opacity: 1;
   transform: translateY(0);
 }

 /* -----Responsive------ */
 @media screen and (max-width:1200px) {
   .hero-section .logo {
     font-size: 35px;
     font-weight: bold;
   }

   .hero-section .cta-button {
     padding: 13px 15px;
     font-size: 15px;
   }
 }

 @media screen and (max-width:1000px) {
   .hero-section .hero-nav nav {
     display: none;
   }

   .hero-section .hero-nav .res {
     display: none;
   }

   .hero-section .cta-button {
     display: none;
   }

   .hero-section .res-slider-btn {
     display: block;
   }

   .logo-a .white {
     color: #f7931e;
   }

   .hero-section .logo {
     font-size: 30px;
     font-weight: bold;
   }

   .offcanvas {
     border-radius: 40px 0px 0px 40px !important
   }

   .service-section {
     overflow: scroll;
   }

   .hero-section .hero-text-section .hero-flex {
     width: 90%;
   }

   .hero-section .hero-image {
     max-width: 50%;
   }

   .hero-section-b h1 {
     width: 100%;
     padding: 10px 20px;
   }

   .partner-carousel .caruosel-wd {
     width: 95% !important;
   }

   .img-fluid {
     padding: 10px 30px;
   }

   .work-view .work-width {
     width: 44%;
     position: absolute;
     top: 10%;
     left: 28%;
   }

   .work-view .work-width .ombre-extrene {
     width: 405px;
   }

   .service-section .service-a {
     width: 65% !important;
     padding: 10px 40px !important;
   }

   .service-section .service-a h5 {
     font-size: 1rem;
   }

   .goal-section .goal-a {
     padding: 10px 20px;
   }

   .goal-section .goal-a .goal-col {
     width: 48% !important;
   }

   .client-review .client-slide .img {
     width: 75% !important;
     margin-right: 10px;
   }

   .client-review .client-slide .img img {
     width: 100% !important;

   }

   .client-review .client-slide p {
     font-size: 1.1rem !important;
   }

   .client-review .swiper-slider {
     height: 720px !important;
   }

   .client-review .client-wd {
     width: 90%;
   }

   .cta-section .container {
     max-width: 100%;
     padding: 15px 30px;
   }

   .cta-section .cta-text {
     font-size: 2rem;
   }

   .cta-section {
     padding: 20px;
   }

   .footer .container {
     max-width: 100%;
     padding: 25px 30px;
   }
 }

 @media (max-width: 750px) {
   .hero-section .hero-text {
     font-size: 1.2rem;
     width: 100%;
   }

   .hero-section .hero-text-section .hero-text h1 {
     font-size: 25px;
   }

   .hero-section .hero-text-section .hero-text h2 {
     font-size: 25px;
   }

   .hero-section .hero-text-section .hero-a {
     height: 170px !important;
   }

   .client-slide {
     flex-direction: column;
     gap: 20px;
   }

   .client-review .client-slide .img {
     width: 70% !important;
     margin-right: 10px;
   }

   .hero-section .hero-b {
     height: 250px !important;
   }

   .hero-section .hero-c {
     height: 385px !important;
     flex-direction: column;
   }

   .portfolio {
     overflow: scroll;
   }

   .work-view .work-width {
     width: 44%;
     position: absolute;
     top: 8%;
     left: 28%;
   }
   .footer .bg-img img{
 height: 950px;
   }
 }


 @media (max-width: 600px) {
   .hero-section .hero-text-section .hero-flex {
     width: 90%;
     flex-direction: column;
   }

   .hero-section .hero-image {
     max-width: 65%;
   }

   .hero-section-b h1 {
     width: 100%;
     padding: 10px 20px;
     font-size: 1.5rem;
   }

   .client-slide {
     flex-direction: column;
     gap: 20px;
   }

   .client-review .client-wd {
     width: 100% !important;
   }

   .client-review .client-slide {
     padding: 1rem !important;
   }

   .cta-section .container {
     flex-direction: column;
   }

   .cta-section-st {
     flex-direction: column;
   }

   .partner-carousel h4 {
     font-size: 18px;
   }

   .hero-section .hero-b {
     flex-direction: column;
   }

   .hero-section .hero-b {
     height: 350px !important;
   }

   .hero-section .hero-text-section .hero-flexx {
     width: 90%;
     flex-direction: column;
     padding-bottom: 20px;
   }

   .work-view .work-width {
     width: 44%;
     position: absolute;
     top: 6%;
     left: 28%;
   }

   .work-view .flex-btn .btn {
     font-size: 12px;
   }
 }

 @media (max-width: 500px) {
   .hero-section .logo {
     font-size: 25px;
   }

   .hero-section .hero-nav {
     padding: 20px 20px;
   }

   .headerr {
     padding: 10px 20px;
   }

   .partner-carousel h4 {
     font-size: 14px;
   }

   .hero-section .hero-image {
     max-width: 80%;
   }

   .goal-section .goal-a .goal-col {
     width: 100% !important;
   }

   .cta-section .cta-text {
     font-size: 1.4rem;
   }

   .footer .name {
     font-size: 1.2rem !important;
   }

   .footer .name .img {
     width: 15% !important;
   }

   .footer .no {
     font-size: 1rem !important;
   }

   .footer .footer-logo {
     font-size: 1.9rem;
   }

   .footer {
     padding-top: 1rem !important;
   }

   .goal-section {
     padding-top: 2rem !important;
   }

   .goal-section h1 {
     font-size: 2rem !important;
   }

   .goal-section .goal-a h3 {
     font-size: 1.4rem !important;
   }

   .client-review {
     padding: 2rem 0rem 2rem !important;
   }

   .client-review .swiper-button-next,
   .swiper-button-prev {
     padding: 25px;
   }

   .client-review .client-slide p {
     font-size: 1rem !important;
   }

   .cta-section {
     padding: 0px 20px;
   }

   .work-view .work-width {
     width: 43%;
     position: absolute;
     top: 3%;
     left: 28%;
   }
   .work-view .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px) !important;
   }
 }

 @media (max-width: 450px) {
   .work-view .work-width {
     width: 43%;
     position: absolute;
     top: 2%;
     left: 28%;
   }
   .work-view .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px) !important;
   }
 }

 @media (max-width: 400px) {
   .hero-section .hero-image {
     max-width: 95%;
   }

   .work-view .work-width {
     width: 43%;
     position: absolute;
     top: -2%;
     left: 28%;
   }
   .work-view .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px) !important;
   }
 }

 @media (max-width: 350px) {
   .hero-section .logo {
     font-size: 20px;
   }

   .work-view .work-width {
     width: 43%;
     position: absolute;
     top: -4%;
     left: 28%;
   }
   .work-view .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, 0px) !important;
   }

 }